*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Rubik Moonrocks', sans-serif;
    padding-bottom: 2em;
    background-color: #FFDEDE;
}


header{
    font-size: 3rem;
    text-align: center;
    margin-top: 0.5em;
    color: white;
}

.main-container{
    display: flex;
    height: 500px;
    margin-top: 1em;
    margin: auto;
    
}

.buttons{
    font-family: 'Rubik Moonrocks', sans-serif;
    display: flex;
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.group1{
    margin: auto;
    text-align: center;
}

/* Button Styling */

.button-style{
    padding: 0.7em 2em;
    border-radius: 0.5em;
    letter-spacing: 1px;
    border-style: none;
    font-family: 'Rubik Moonrocks', sans-serif;
    font-weight: bold;
    color: #EB4747;
    background-color: white;
    cursor: pointer;
}

.button-style:hover{
    opacity: 0.7;
}

.clicked-style{
    color: white;
    background-color: #EB4747;
    transition: 500ms;
}

.original-style{
    color: #EB4747;
    background-color: white;
    transition: 500ms;
}


#medium{
    margin-left: 3em;
    margin-right: 3em;
}

#color, #erase{
    margin-top: 1.5em;
}

#erase{
    margin-left: 3em;
}


.frame-container{
    height: 496px;
    width: 496px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: auto;
    background-color: white;
}

.mediumGrid{
    border: 0.7px solid lightgray;
    height: 16px;
    width: 16px;
}

.miniGrid{
    border: 0.7px solid lightgray;
    height: 8px;
    width: 8px;
}

.maxGrid{
    border: 0.7px solid lightgray;
    height: 31px;
    width: 31px;
}